input[type="text"], input[type="email"], input[type="number"], textarea, select {
    padding: 10px;
    background-color: white;
    font-family: inherit;
    font-size: 2rem;
    color: #333;
    max-width: 100%;
    border: 0px solid;
}
.contactpage{
  h2{
    color: $primary-color;
    font-size: 3.8rem;
    font-weight: bold;
    margin-top: 40px;
  }
  label{
    color:$primary-color;
    font-size: 2rem;
    font-family: open sans, arial;
  }
  input[type="text"], input[type="email"], input[type="number"], textarea, select {
      padding: 5px 10px;
      background-color: white;
      font-family: inherit;
      font-size: 2rem;
      color: #333;
      width: 100%;
      max-width: 560px;
      border: 2px solid #757678;
  }
   .button {
      cursor: pointer;
      padding: 15px 40px;
      line-height: 1;
      background-color: #2EA2F1;
      border: 0px solid;
      font-family: 'Open Sans Condensed', arial, sans-serif;
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      font-size: 2.8rem;
      display: inline-block;
      border: 0px solid;
      margin-top: 20px;
    }
    .contactlogo{
      position: absolute;
      bottom: 10px;
      right: -250px;
    }
}
.form-btn-secondary {
    background: $secondary-color;
    color: $white-text;
    padding: 15px 40px 15px 40px;
    font-weight: 300;
    border: 1px solid $secondary-color;
    border-radius: 0;
    margin-top: 15px;

    &:hover {
        cursor: pointer;
        background-color: #004884;
        color: white;
    }
}
.contactsection{
  h1{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .button{
    cursor: pointer;
    padding: 11px 40px;
    line-height: 1;
    background-color: #2EA2F1;
    border: 0px solid;
    font-family: 'Open Sans Condensed', arial, sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.8rem;
    display: inline-block;
    &:hover{
      background-color: #004884;
      color: white;
    }
  }
}
.request-appointment-form {
    padding: 40px 0 30px;
    .bannerForm {
        div {
            width: 19%;
            display: inline-block;
            float: left;
            margin: 0 0.5%;
        }
    }
    input {
        padding: 20px 0;
        text-indent: 20px;

        &[type="submit"] {
            margin-top: 0;
            margin-left: 20px;
            width: 200px;
            text-indent: 0;
            padding: 22px 0;
        }
    }
    .g-recaptcha {
        > div {
            transform: scale(0.75);
            transform-origin: 0 100%;
            margin-top: -18px;
        }
    }
}
@media only screen and (max-width: 1199px) {
    .request-appointment-form {
        .g-recaptcha {
            > div {
                transform: scale(0.65);
                margin-top: -17px;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .request-appointment-form {
        .bannerForm {
            > div {
                display: block;
                width: 100%;
                text-align: center;
            }
        }
        .g-recaptcha {
            > div {
                transform: translateX(62%) scale(1);
                margin-top: 1px;
            }
        }
    }
}
@media only screen and (max-width: 905px) and (min-width: 768px) {
    .main-captcha {
        transform-origin: 0 0;
        transform: scale(0.7);
    }
    .form-btn-secondary {
        margin-top: 0;
    }
}
@media only screen and (max-width: 767px) {
    .request-appointment-form {
        .g-recaptcha {
            > div {
                transform: translateX(33%) scale(1);
            }
        }
    }
}
@media only screen and (max-width: 575px) {
    .request-appointment-form {
        .g-recaptcha {
            > div {
                transform: scale(1);

                iframe {
                    position: relative;
                }
            }
        }
    }
}
@media only screen and (max-width: 390px) {
    .request-appointment-form {
        .g-recaptcha {
            > div {
                transform: scale(0.66);
                margin-bottom: 10px;
                margin-left: -2px;
            }
        }
        .bannerForm {
            > div {
                text-align: left;
                &:nth-child(4) {
                    margin-top: -27px;
                }
            }
        }
        input {
            margin-bottom: 10px;
        }
        input[type="submit"] {
            margin-left: 0;
        }
    }
}
@media only screen and (max-width: 350px) {
    .main-captcha {
        transform-origin: 0 0;
        transform: scale(0.8);
    }
}
