.container, .clearfix {
    &:after {
        content: " "; /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
#floatingAppointment {
    position: fixed;
    right: -95px;
    display: none;
    top: 45%;
    font-size: 1.8rem;
    z-index: 999;
    margin-bottom: 0px;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    &:hover{
      background-color: #004884;
      color: white;
    }
}
.btn-primary {
    background: $primary-color;
    border: $primary-color;

    &:hover {
      background-color: #004884;
      color: white;
    }
}
.btn-secondary {
    background: $secondary-color;
    color: $white-text;
    padding: 15px 40px 15px 40px;
    font-weight: 300;
    border-radius: 0;
    border: 1px solid $secondary-color;

    &:hover {
        background: $white-text;
        color: $secondary-color;
        border: 1px solid $secondary-color;
    }
}
.primarybg {
    background: $primary-color;

    h2 {
        color: $white-text;
    }
}

#featured-image {
    text-align: center;
}
.staff-profile {
    .col {
        margin-bottom: 15px;
    }
    img {
        width: 100%;
    }
}
.col {
    ul {
        > li {
            margin-bottom: 10px;
            font-family: roboto, arial, sans-serif;
            font-weight: 300;
        }
    }
}
.embed-responsive {
    margin-bottom: 20px;
}
.aligncenter {
    text-align: center;
}
@media only screen and (max-width: 767px) {
    .col {
        margin-bottom: 15px;
    }
    .book-appointment {
        .col {
            text-align: center !important;
        }
    }
}
