$primary-color: #00619F;
$primary-color-dark: #004884;
$secondary-color: #2EA2F1;
$body-background-color: #E2E3E3;
$nav-link-color:#757678;
$main-background-color: #ffffff;
$white-text:#ffffff;
$header-footer-background-color:#332c27;


$screen-lg-min: 1200px;
$screen-lg-max: ($screen-lg-min - 1);
$screen-md-min: 992px;
$screen-md-max: ($screen-md-min - 1);
$screen-sm-min: 768px;
$screen-sm-max: ($screen-sm-min - 1);
$screen-xsm-min: 576px;
$screen-xsm-max: ($screen-xsm-min - 1);


/* helper CSS */
.whiteText{
	color: $white-text;
}
.disnone{
	display: none;
}
.mainBackgroundColor{
	background-color: $main-background-color;
}
.primarycolor{
	color: $primary-color;
}
.secondarycolor{
	color: $secondary-color;
}
