.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	margin-bottom: .75em;
	color: #58595B;
	font-family: 'Open Sans Condensed', arial, sans-serif;
}

h1{
		font-size: 3.6rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 2.4rem;
}
h4{
	  font-size: 2.2rem;
}
h5{
	  font-size: 2rem;
}
h6{

}

p{

}

ul{
	li{

	}
}
ol{
	li{

	}
}
